@charset "UTF-8";
body{
	margin-left:50px;
	margin-right:50px;
}
#review_content{
	width:500px;
	height:200px;
}
.container1{
	margin-top:30px;
	display:flex;
	align-items: center;
}
#img{
	width:100px;
	height:100px;
	margin-right:10px;
	float:left;
}
#title1{
	margin-down:30px;
}
#review_btn{
	width:100px;
	height:50px;
	background-color:#4C4C4C;
	color:white;
}
#headertitle{
	height:50px;
	background-color:#4C4C4C;
	color:white;
}